@import "globals/variables";
// Spacings
$breather : 1.5em;


@mixin container() {
  max-width: 30em; 
  margin: $breather auto;
}

@mixin button($border-thick, $border-color, $padding) {
  border: $border-thick solid $border-color;
  padding: $padding/1.2 $padding*3;
}

.icon-eda {
  width: 3em;
  height: 3em;
  margin: $breather auto;
}

#yinyang {
  height: 100vh;  

  .black {
    background-color: black;
    color: white;
  }

  .white {
    background-color: white;
    color: black;
  }
}

body#virgin {
   background: url("../img/bs1-invert-noise2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 

  #opera {
    .red {
      h1 {
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: 2px;
      }
      background-color: $red;
      min-height: 100vh;
      color: white;
      padding: $breather*2 $breather*4;
      text-align: center;

    } 
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

}

p.cut {
  font-family: $serif-family;
  margin-bottom: $breather*6;
  font-style: italic;
}


a.thief {
      @include button(3px, black, $breather);
      text-transform: uppercase;
      letter-spacing: 3px;
      font-family: Montserrat, Arial, sans-serif;
      text-decoration: none;
      color: black;
      &:hover {
        border-color: black;
        background-color: black;
        color: white;
      }
}

#cocaine {
  @include container();
  height: 100vh;
}

.poster {
  font-family: $serif-family;

  p.quote {
    font-size: 1.2em;
  }

  .attribution {
    display: block;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: 3px;
    font-style: normal;
    margin: $breather 0 0;
  }

}

#loveless {
   height: 100vh;
   background: url("../img/loveless.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   p.quote {
     color: #ffffff;
     max-width: 300px;
     font-style: italic;
     margin: $breather*2;
     padding: $breather;
     border: 1px solid white;
   }
 }

#duncan {
  height: 100vh;
  background: url("../img/duncan.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  p.quote {
    color: white;
    background-color: black;
    max-width: 300px;
    padding: $breather;
    font-style: italic;
  }
}

#eve {
  height: 100vh;
  background: url("../img/eve.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  p.quote {
    color: darkred;
    max-width: 300px;
    padding: $breather;
    font-style: italic;
  }
}

#mother {
  height: 100vh;
  background: url("../img/mother.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  p.quote {
    color: black;
    background-color: white;
    max-width: 300px;
    padding: $breather;
    font-style: italic;
  }
}

// MISERERE

.filmbox {
  @include container();

  &-title {
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: left;
    letter-spacing: 1px;
    width: 100%;
    margin-top: $breather;
  }

  ul, ol {
    text-align: left;
    width: 100%;  
  }
}

.cast {
  &-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1em;
    color: $red;
    letter-spacing: 2px;
  }
  &-subtitle {
    color: $gray-dark;
    text-align: left;
    width: 100%;
    font-size: .8em;
  }  
}



a.want {
      @include button(2px, black, $breather/2);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: Montserrat, Arial, sans-serif;
      font-size: .9em;
      text-decoration: none;
      color: black;
      &:hover {
        border-color: black;
        background-color: black;
        color: white;
      }
}

.miserere #yinyang {
  @include container();
}

.shout {
  text-align: center;
  font-weight: 300;
  color: $gray;
  text-transform: uppercase;
  a {
    color: $gray;
  }
}


